html {
    text-align: center;
    background-color: rgb(138, 226, 255);
    position: relative;
    min-height: 100%;
}

body {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #3B3B3B;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#container {
    display: grid;
    margin: 2rem;
    height: 500px;
    width: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#container:hover {
    cursor: pointer;
}
  
.grid-item {
    background-color: black;
    opacity: 0;
}

.center {
    display: flex;
    align-items: center;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.color {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: rgb(186, 49, 186);
}

.brown {
    background-color: rgb(102, 53, 53);
}

.eraser {
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 40px;
}

button:hover, input[type='color']:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footer {
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }


/* some of the button stuff is copied from https://getcssscan.com/css-buttons-examples */
.reset, .set-size {
  appearance: none;
  background-color: transparent;
  border: 1.5px solid #1A1A1A;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.reset:hover, .set-size:hover {
  color: #fff;
  background-color: #373737;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.reset:active, .set-size:active {
  box-shadow: none;
  transform: translateY(0);
}

.color:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
.color:active {
    box-shadow: none;
    transform: translateY(0);
}

.reset {
    margin: 3px;
    min-width: 85px;
}

.text-box {
    box-sizing: border-box;
    padding: 2px;
    border-radius:10px;
}

.top-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}